h1 { 
    color: #0099ff;
    font-family: Helvetica;
    font-size: 2000 px;
}

h2 {
    color: #66ccff;
    font-family: Helvetica;
    font-size: 600 px;
}


h3 {
    color: #ff9999;
    font-family: Helvetica;
    font-size: 600 px;
}

